/****** RESET ******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****** END RESET ******/

body {
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

/****** COLORS ******/

.yellow-txt {
    color: #F4CE14;
}
.yellow-bg {
    background-color: #F4CE14;
}
.green-txt {
    color: #1f5e58;
}
.green-bg {
    background-color: #1f5e58;
}
.secondary-one-txt {
    color: #ee9972;
}
.secondary-one-bg {
    background-color: #ee9972;
}
.secondary-two-txt {
    color: #fbdab6;
}
.secondary-two-bg {
    background-color: #fbdab6;
}

/****** TYPOGRAPHY ******/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Markazi Text', serif;
}
h1 {
    font-size: 84px;
    margin-bottom: 10px;
}
h2 {
    font-size: 54px;
    margin-bottom: 10px;
}
h3 {
    font-size: 30px;
}

p {
    margin-bottom: 1.2rem;
    line-height: 1.25rem;
}
.hero p {
    font-size: 1.3rem;
    line-height: 1.4em;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.mb50 {
    margin-bottom: 50px;
}
.mb100 {
    margin-bottom: 100px;
}
.middle {
    align-items: center;
}

/****** GRIDS ******/
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
}
.grid-2col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.grid-3col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.grid-4col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 1rem;
}
.cell {
    padding: 1rem;
}
.cell-center {
    align-self: center;
}

/****** FLEX ******/
.flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 70px;
}
.flex-item {
    min-width: 100px;
    padding: 10px;
}

main {

}
footer {
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}
.logo {

}
nav {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}
main > section {
    padding: 100px 0;
}
.testimonials {
}


/****** NAVIGATION ******/
nav > ul {
    list-style: none;   
    text-align: center;
}
nav > ul li {
    display: inline-block;
    margin: 0;
}
nav > ul li a {
    display: block;
    padding: 10px 20px;
    margin: 0;
    color: #222;
    text-decoration: none;
    transition: ease-in-out 0.5s;
    border-radius: 50px;
    font-size: 18px;
}
nav > ul li a:hover {
    background: #F4CE14;
    color: #444;
}


/****** BUTTONS *******/

button.primary {
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #F4CE14;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
button.primary.btn-sm {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
}
button.primary:focus,
button.primary.btn-sm:focus {
    background-color:#ee9972;
}
button.primary:hover,
button.primary.btn-sm:hover {
    background-color:#fbdab6;
}

/****** HERO ******/

.hero {
    background-color: #1f5e58;
    color: #fff;
    padding: 30px 0;
}
.hero-text {
    padding: 30px 0;
}
.hero-img {
    position: relative;
}
.hero-img img {
    position: absolute;
    right: 0;
}

/****** CARDS ******/

.card {
    display: flex;
    flex-direction: column;
}
.menu-img {
    border-radius: 16px 16px 0 0;
    background-color: #EDEFEE;
    overflow: hidden;
}
.menu-img img {
    max-width: 100%;
}
.menu-item {
    padding: 1rem;
    background-color: #EDEFEE;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.menu-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.menu-price {
    margin-left: auto;
    font-weight: 500;
}
.menu-name {
    margin-right: auto;
}
.menu-desc {
    line-height: 1.25rem;
    flex: 1;
    margin-bottom: 20px;
}

/****** TESTIMONIALS ******/

.testimonials .cell {
    background-color: #fff;
    padding: 2rem;
}
.testi-info {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1.2rem;
    margin-bottom: 20px;
}
.testi-img {
    background-color: #ededed;
    padding: 5px 10px;
}
.testi-img img {
    max-width: 100%;
}
.testi-quote {
    flex: 1;
}

/****** ABOUT SECTION ******/

.about {
    align-items: center;
}
.about-img img {
    max-width: 100%;
    border-radius: 16px;
}
.city {
    font-weight: 600;

}

/****** FORMS ******/

.booking-form {
    display: grid; 
    max-width: 200px; 
    gap: 20px
}